<div class="new-item">
    <div class="title">
    <div class="left">
        <h1>New</h1>
        <h1>This Is Week</h1>
    </div>
    <div class="right">
        <h3>See All</h3>
    </div>
</div>
<div class="cards">
    <div class="card">
        <img src="https://picsum.photos/200/300" alt="">
        <h3>t-shirt</h3>
        <div class="information">
            <h1>white t-shitr</h1>
            <h1>$200</h1>
        </div>
        
    </div>
    <div class="card">
        <img src="https://picsum.photos/200/300" alt="">
        <h3>t-shirt</h3>
        <div class="information">
            <h1>white t-shitr</h1>
            <h1>$200</h1>
        </div>
        
    </div>
    <div class="card">
        <img src="https://picsum.photos/200/300" alt="">
        <h3>t-shirt</h3>
        <div class="information">
            <h1>white t-shitr</h1>
            <h1>$200</h1>
        </div>
        
    </div>
    <div class="card">
        <img src="https://picsum.photos/200/300" alt="">
        <h3>t-shirt</h3>
        <div class="information">
            <h1>white t-shitr</h1>
            <h1>$200</h1>
        </div>
        
        
    </div>
    
</div>
<div class="slider-buttons">
        <button class="arrow-btn">&#8249;</button>
        <button class="arrow-btn">&#8250;</button>
      </div>
           
  </div>