 <!-- Navbar -->
  <nav class="navbar">
    <div class="nav-left">
      <div class="menu-icon">
        <span></span>
        <span></span>
      </div>
      <a>Home</a>
      <a>Collections</a>
      <a>New</a>
      <a>About</a>
    </div>

    <div class="nav-center">
      <div class="logo1"></div>
      <div class="logo2"></div>
    </div>

    <div class="nav-right">
      <div class="icon-circle"></div>
      <div class="cart">
        Cart
        <div class="cart-icon">🛒</div>
      </div>
      <div class="icon-circle"></div>
    </div>
  </nav>
