<section class="approach-section">
    <h2>OUR APPROACH TO FASHION DESIGN</h2>

    <p class="subtitle">
        at elegant vogue , we blend creativity with craftsmanship to create
        fashion that transcends trends and stands the test of time each
        design is meticulously crafted, ensuring the highest quality
        exquisite finish
    </p>

    <div class="approach-images">
        <div class="approach-card">
            <img src="https://picsum.photos/260/360?1" alt="">
        </div>
        <div class="approach-card">
            <img src="https://picsum.photos/260/360?2" alt="">
        </div>
        <div class="approach-card">
            <img src="https://picsum.photos/260/360?3" alt="">
        </div>
        <div class="approach-card">
            <img src="https://picsum.photos/170/260?4" alt="">
        </div>
    </div>
</section>