<div class="content">

    <div class="text-section">
      <h1>NEW<br />COLLECTION</h1>
      <p>Summer<br />2024</p>

      <div class="buttons">
        <button class="shop-btn">
          Go To Shop  <span>→</span>
        </button>

        <div class="slider-buttons">
          <button class="arrow-btn">&#8249;</button>
          <button class="arrow-btn">&#8250;</button>
        </div>
      </div>
    </div>

    <div class="images">
      <img src="assets/Rectangle-12.png" alt="images"/>
      <img src="assets/Rectangle-13.png" alt="images"/>
    </div>

  </div>