<div class="page-wrapper">
<h1 class="title"> To Contact Us </h1>
  <footer class="minimal-footer">
    <div class="footer-left">
      <div class="footer-block">
        <span class="footer-label">INFO</span>
        <a href="#">PRICING</a>
        <a href="#">ABOUT</a>
        <a href="#">CONTACTS</a>
      </div>

     
    </div>

    <div class="footer-center">
      <span class="footer-label">TECHNOLOGIES</span>
      <div class="tech-logo">
        <div class="tech-symbol">◆</div>
        <div class="tech-text">
          <span class="tech-main">XIV<br>QR</span>
          <span class="tech-sub">Near-field communication</span>
        </div>
        <span class="tech-divider">/</span>
      </div>
    </div>
  </footer>
</div>
